.experiences {
    margin-block: 5rem;
    margin-inline: 20vw;
    padding: 40px;
}

.nav-link {
    transition: color 0.3s, text-decoration-color 0.3s; 
    cursor: pointer;
}

.nav-link:hover {
    color: #ff8c00;
    text-decoration-color: #ff8c00;
}


@media screen and (max-width: 600px) {
    .experiences {
        margin-block: 5rem;
        margin-inline: 4vw;
        padding: 10px;
    }
}
