.navbar-img {
    height: 40px;
}

.navbar-img-color-mode {
    height: 20px;
}

.navbar {
    margin: 20px;
    border-radius: 20px;
}

.form-color-mode {
    display: flex;
    align-items: center;
}

.switch-color-mode {
    margin-left: 10px;
}