.profile {
    margin-block: 5rem;
    margin-inline: 20vw;
    padding: 40px;
}

.certif_openclassroom {
    width: 90%;
}

.certif_openclassroom2 {
    width: 100%;
}

@media screen and (max-width: 600px) {
    .profile {
        margin-block: 5rem;
        margin-inline: 4vw;
        padding: 10px;
    }
}
